@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


@media screen and (min-width:768px) and (max-width:992px) {
    #container {

        max-width: 720px;
        min-width: 500px;
    }


    #container > form > div > input  {
        width: 630px;   
    }

    select#iemprego {
        width: 630px;
    }

    select#ifavorita {
        width: 630px;
    }
    #en > input#enviar {
        width: 630px;  
    }
    textarea {
        width: 630px;
    }

    #paragrafo {
        width: 100%;
    }


}


@media screen and (min-width:992px) {
    #container {

        max-width: 720px;
        min-width: 500px;

    }


    #container > form > div > input  {
        width: 630px;  
    }

    select#iemprego {
        width: 630px;
    }

    select#ifavorita {
        width: 630px;
      
    }
    #en > input#enviar {
        width: 630px;
        
    }
    textarea {
        
        width: 630px;
        
    }

    #paragrafo {
        width: 100%;   
    }

}